<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post list</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w3-container w3-card-4">
        <div class="w3-container">
            <h1>Django blog</h1>
        </div>
        <ul class="w3-ul w3-border-top">
            <li>
                <h3>Title</h3>
                <div class="w3-container">
                    <i class="fa fa-calendar-minus-o"></i>: 20/10/2015
                    <i class="fa fa-user-md"></i>: Admin
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque beatae inventore laboriosam
                    mollitia! Eligendi hic officia repudiandae sint veniam. Culpa ipsum labore unde. Culpa doloremque
                    earum fuga rem totam.</p>
            </li>
            <li>
                <h3>Title</h3>

                <p>Aliquam amet autem beatae culpa distinctio hic ipsum itaque laborum odio omnis quidem, quisquam quod
                    totam! Aliquam exercitationem libero mollitia nesciunt quidem? Aliquid consequatur deserunt magni
                    maiores nemo, ratione soluta?</p>
            </li>
            <li>
                <h3>Title</h3>

                <p>Eaque incidunt inventore ipsam magni minima nostrum odio optio possimus, veniam. Cupiditate ea et ex
                    ut vero? Aliquid autem corporis enim, facilis harum laboriosam perferendis, praesentium quibusdam
                    sed similique vero!</p>
            </li>
            <li>
                <h3>Title</h3>

                <p>Amet autem culpa dolor doloribus eos facere ipsum iure magni minus modi nobis pariatur perferendis,
                    perspiciatis, possimus quaerat quas quos velit? Ipsum molestias perferendis reprehenderit veritatis!
                    Architecto beatae doloremque quaerat.</p>
            </li>
            <li>
                <h3>Title</h3>

                <p>Illo recusandae suscipit tenetur ut veniam? Doloremque eligendi explicabo molestiae quis! Accusantium
                    atque deserunt pariatur quasi voluptatum? Blanditiis cupiditate expedita facilis fuga, fugiat illo
                    molestiae possimus, quidem, sapiente sint sunt.</p>
            </li>
        </ul>
    </div>
</body>
</html>