{% extends 'blog/base.html' %}

{% block content %}
    <li>
        <h3>{{ post.title }}</h3>
        <div>
            <i class="fa fa-calendar-minus-o"></i>: {{ post.created_date }}
            <i class="fa fa-user-md"></i>: {{ post.author }}
            {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}">
                    <button class="w3-btn w3-teal w3-round w3-right w3-margin-4">Modify</button>
                </a>
            {% endif %}

            {% if post.published_date %}
                Published: {{ post.published_date }}
            {% else %}
                <a href="{% url 'blog.views.post_publish' pk=post.pk %}">
                    <button class="w3-btn w3-teal w3-round w3-right w3-margin-4">Publish</button>
                </a>
            {% endif %}
            <a href="{% url 'post_remove' pk=post.pk %}">
                <button class="w3-btn w3-teal w3-round w3-right w3-margin-4">Delete</button>
            </a>
        </div>
        <p>{{ post.text }}</p>
    </li>
{% endblock %}